// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 1;
$column-width   : 512px;
$gutter-width   : 10px;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;
