/* -------------------------------------------------------------------------*/
/* Layout */
/* line 10, ../sass/screen.scss */
body {
  background: #d60012;
  color: #fff;
}

/* line 15, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 512px;
  _width: 512px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../sass/screen.scss */
h1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

/* line 23, ../sass/screen.scss */
.logo {
  display: block;
  margin: 0 auto;
  max-width: 512px;
  width: 100%;
}

/* line 30, ../sass/screen.scss */
h2 {
  margin: 1.5em 0 1em;
}

/* line 34, ../sass/screen.scss */
p {
  margin: 1em 0;
}

/* line 38, ../sass/screen.scss */
.btn {
  text-align: center;
}

/* button from http://codepen.io/Treehouse/pen/vEkit */
/* Color Themes - Variables */
/* Common Colors - Variables */
/* Mixins */
/* Button Global */
/* line 78, ../sass/screen.scss */
.btn {
  display: inline-block;
  margin: 1rem;
  padding: .938em 1.875em;
  border: .094em solid;
  border-radius: .625em;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: #FFF;
  font: bold 1.8rem sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Themes */
/* line 98, ../sass/screen.scss */
.black {
  border-color: #232121;
  background-color: #585352;
}
/* line 60, ../sass/screen.scss */
.black:hover {
  background-color: #484443;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #5d5857;
}
/* line 64, ../sass/screen.scss */
.black:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em black, inset 0 0.063em #232121, inset 0 -0.188em #232121;
}

/* line 101, ../sass/screen.scss */
.blue {
  border-color: #1672a3;
  background-color: #3ba9e4;
}
/* line 60, ../sass/screen.scss */
.blue:hover {
  background-color: #209de0;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #44ade5;
}
/* line 64, ../sass/screen.scss */
.blue:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0a3349, inset 0 0.063em #1672a3, inset 0 -0.188em #1672a3;
}

/* line 104, ../sass/screen.scss */
.green {
  border-color: #446927;
  background-color: #75b343;
}
/* line 60, ../sass/screen.scss */
.green:hover {
  background-color: #669d3b;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #7aba46;
}
/* line 64, ../sass/screen.scss */
.green:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #141f0b, inset 0 0.063em #446927, inset 0 -0.188em #446927;
}

/* line 107, ../sass/screen.scss */
.orange {
  border-color: #db2e00;
  background-color: #ff6a42;
}
/* line 60, ../sass/screen.scss */
.orange:hover {
  background-color: #ff5223;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #ff724c;
}
/* line 64, ../sass/screen.scss */
.orange:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #751900, inset 0 0.063em #db2e00, inset 0 -0.188em #db2e00;
}
